#box {
    padding-left: 300px;
    padding-right: 300px;
}
dd .destaque {
    font-style: italic;
}
dd, li {
    padding-bottom: 10px;
}
dl, #feitopor {
    padding-left: 40px;
}
h1, h2{
    color: tomato;
}
#titulo {
    color: crimson;
}
/* esse é o máximo de html/css que eu sei não me julguem */